global:
  executor:
    max_inflight: 100
    watchdog_timeout: 60


# rest -> smtp
rest_listener:
  addr: ["::1", 8001]
  #cert: localhost.crt
  #key: localhost.key

  gc_interval: 5
  gc_tx_ttl: 300
  session_uri: http://localhost:8001

smtp_output:
  # use_system_smtplib: false
  hosts:
    outbound:
      # protocol: lmtp
      ehlo_host: localhost
      enable_bdat: true


# smtp -> rest
smtp_listener:
  services:
    - addr: [localhost, 1025]
      endpoint: mx
      sender: ingress
      tag: smtp-mx
      # these depend on our patches to aiosmtpd
      #chunk_size: 16384
      # enable_bdat: true
    - addr: [localhost, 1587]
      endpoint: msa
      sender: submission
      tag: smtp-msa
      #chunk_size: 16384
      # auth_secrets: secrets.json
      # enable_bdat: true
      #cert: localhost.crt
      #key: localhost.key
    - addr: [localhost, 1465]
      endpoint: msa
      sender: submission
      tag: smtp-msa
      smtps: true
      #chunk_size: 16384
      # auth_secrets: secrets.json
      # enable_bdat: true
      #cert: localhost.crt
      #key: localhost.key

rest_output:
  - name: mx
    endpoint: http://localhost:8000/senders/ingress/transactions
    verify: localhost.crt
    rcpt_timeout: 300
    data_timeout: 300
    chunk_size: 1048576
    refresh_interval: 5

  - name: msa
    endpoint: http://localhost:8000/senders/submission/transactions
    verify: localhost.crt
    rcpt_timeout: 300
    data_timeout: 300
    chunk_size: 1048576
    refresh_interval: 5

logging:
  version: 1
  loggers:
    hpack:
      level: INFO
    mail.log:
      # aiosmtpd logs all downstream data from the client at DEBUG
      # both commands and message contents :/
      level: INFO
